/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
body{
  overflow-x: hidden;
}
.wrapper
{
  height: 50px;
  width: 100%;
  background-color: black;
 
}
.wrapper a
{
  font-size: 20px;
  text-decoration: none;
  float: left;
  color: white;
  position: relative;
  top: 5px;
  left: 10px;
  
} 
 .menu
{
  background-color:darkgray;
  height: 1300px;
  width: 200px;
  padding: 10px;  
} 

.menu a{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color:black;
  position: relative;
  top: 15px;
  left: 10px;

} 
.table{
width: 80%;
position: absolute;
left: 250px;
bottom: 50px;
font-size: 15px;
}  
.table2
{
width: 100%;
position: absolute;

top: 700px;

}

.material
{
  width: 80%;
position: absolute;
left: 250px;
bottom: 50px;
}
.drop_down_box1
{
  position: absolute;
  top : 100px;
  left: 300px;
  width: 200px;


}

 .drop_down_box2
{
  position: absolute;
  top : 100px;
  left: 700px;
  width: 200px;
 
}

.drop_down_box3
{
  position: absolute;
  top : 100px;
  left: 1200px;
  width: 200px;

}