/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper
{
  height: 50px;
  width: 100%;
  background-color: black;
}
.wrapper a
{
  font-size: 20px;
  text-decoration: none;
  float: left;
  color: white;
  position: relative;
  top: 5px;
  left: 10px;
} 
 .menu
{
  background-color:darkgray;
  height: 700px;
  width: 300px;
  
} 
.menu a{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  float: left;
  color:black;
  position: relative;
  top: 30px;
  left: 10px;
} */
 /* table, th, td
{
  border: 2px solid black;
  border-collapse: collapse;
  

}
.table{
  width: 600px;
  position: relative;
  bottom: 550px;
  left: 500px;
}  */
